.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-basic {
  background-color: #f8f9fa;
  color: black;
}

.btn-basic:hover {
  background-color: #f1f1f1;
}

.btn-danger {
  background-color: #f44336;
}

.btn:hover {
  background-color: #45a049;
}

.btn-danger:hover {
  background-color: #da190b;
}

.btn-primary {
  background-color: #008CBA;
}

.btn-primary:hover {
  background-color: #007a99;
}

.btn-warning {
  background-color: #f1c40f;
}

.btn-warning:hover {
  background-color: #f39c12;
}

.btn-info {
  background-color: #17a2b8;
}

.btn-info:hover {
  background-color: #117a8b;
}

.btn-success {
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-light {
  background-color: #f8f9fa;
}

.btn-light:hover {
  background-color: #e2e6ea;
}

.btn-dark {
  background-color: #343a40;
}

.btn-dark:hover {
  background-color: #23272b;
}

.btn-link {
  background-color: transparent;
  color: #007bff;
}

.btn-link:hover {
  background-color: transparent;
  color: #0056b3;
}


