/* header component styles */

header {
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  max-height: 30px;
  width: 100px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-right: 1rem;
}